* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #EFEFEF;
}

/* Navbar */

.hubinLink {
    color: #5F4B4B;
    text-decoration: none;
}

.hubinLink:hover {
    color: #7b6161;
    text-decoration: underline;
}

.fa-arrow-left {
    color: #5F4B4B;
    margin-right: 5px;
}

.mainNav a, .mainNav a:hover {
    color: #5F4B4B;
}

.navContainer {
    height: 100vh;
    width: max-content;
}

.hubinBox {
    height: 33vh;
}

.secondBox {
    height: 33vh;
}

.fa-house, .fa-file-lines, .fa-check, .fa-gear, .fa-circle-info {
    margin-right: 12px;
}

.mainNav > .active{
    background-color: #5F4B4B;
    width: 250px;
    border-radius: 10px;
}

.profileNav {
    color: #FFF;
    background-color: #5F4B4B;
}

.unameNav {
    margin-left: 1%;
}

.containerProfile {
    padding: 15px 0 0 5px;
}

/* End Navbar */

/* Main */

.mainContainer {
    color: #5F4B4B;
}

.btn-main-login {
    background-color: #5F4B4B;
    color: #FFF;
    border-color: #5F4B4B;
}

.btn-main-login:hover {
    background-color: #7b6161;
    color: #FFF;
    border-color: #5F4B4B;
}

/* End Main */

/* Login Pop Up */

.logInForm {
    background-color: #5F4B4B;
    color: #FFF;
}

.illustrationForm {
    background-color: #AB7260;
}

.illustrationForm img {
    width: 470px;
}

.btn-login-form {
    background-color: #AB7260;
    color: #FFF;
    border-color: #AB7260;
}

.btn-login-form:hover {
    background-color: #ac7a6b;
    color: #FFF;
    border-color: #ac7a6b;
}

.modal-header > .btn-close {
    position: absolute;
    z-index: 1;
    top: 5%;
    right: 5%;
}

.bknSiswa {
    color: #FFF;
    text-decoration: none;
}

.bknSiswa:hover {
    color: #FFF;
    text-decoration: underline;
}

.formDivider {
    width: 20%;
}

.experienceHeader {
    color:#5F4B4B;
}

/* End Login Pop Up */

/* Option Box */

.ajukanBox, .pilihBox, .hubungiBox {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    color: #FFF;
}

.ajukanBox {
    background-image: linear-gradient(rgba(171, 113, 96, 1), rgba(95, 75, 75, 1));
}

.pilihBox {
    background-image: linear-gradient(rgba(216, 132, 107, 1), rgba(95, 75, 75, 1));
}

.hubungiBox {
    background-image: linear-gradient(rgba(231, 166, 120, 1), rgba(95, 75, 75, 1));
}

.fa-comments, .fa-building, .fa-headset {
    font-size: 50px;
}

/* End Option Box */

/* Form Ajukan Industri */

.btn-ajukan, .btn-reset:hover {
    background-color: #5F4B4B;
    color: #FFF;
    border-color: #5F4B4B;
}

.btn-ajukan:hover {
    background-color: #7b6161;
    color: #FFF;
    border-color: #5F4B4B;
}

.btn-reset {
    background-color: transparent;
    border-color:#5F4B4B;
    color: #5F4B4B;
}

textarea {
    resize: none;
}

/* End Form Ajukan Industri */

/* Form Data Pemetaan */

thead, td {
    color: #5F4B4B;
}

.btn-search, .btn-detail:hover {
    background-color: #5F4B4B;
    color: #FFF;
}

.btn-search:hover {
    background-color: #7b6161;
    color: #FFF;
}

.btn-detail {
    border-color: #5F4B4B;
    color: #5F4B4B;
}

.listJurusan {
    list-style: none;
}

.badge-ak {
    background-color: #EA6DC5;
}

.badge-tkj {
    background-color: #FF8311;
}

.badge-rpl {
    background-color: #7FE27C;
}

.btn-jurusan-dropdown {
    background-color: #5F4B4B;
    color: #FFF;
}

.btn-jurusan-dropdown:hover {
    background-color: #7b6161;
    color: #FFF;
}

.page-link, .page-link:hover {
    color: #5F4B4B;
}

/* End Form Data Pemetaan */

/* Detail Pemetaan */

.dataLink {
    color: #5F4B4B;
    text-decoration: none;
}

.dataLink:hover {
    color: #5F4B4B;
    text-decoration: underline;
}

.btn-pilih, .btn-kembali:hover {
    background-color: #5F4B4B;
    color: #FFF;
    border-color: #5F4B4B;
}

.btn-pilih:hover{
    background-color: #7b6161;
    color: #FFF;
    border-color: #7b6161;
}

.btn-kembali {
    background-color: transparent;
    color: #5F4B4B;
    border-color: #5F4B4B;
}

.btn-yakin, .btn-batal:hover {
    background-color: #AB7260;
    border-color: #AB7260;
    color: #FFF;
}

.btn-yakin:hover {
    background-color: #ac7a6b;
    border-color: #ac7a6b;
    color: #FFF;
}

.btn-batal {
    background-color: transparent;
    border-color: #AB7260;
    color: #FFF;
}

/* End Detail Pemetaan */

/* Pop Up Konfirmasi */

.modalKonfirmasi {
    background-color: #5F4B4B;
}

/* Tentang */

.socmed {
    color: #5F4B4B;
}

.socmed:hover {
    color: #7b6161;
}

.fa-github-square, .fa-instagram-square, .fa-linkedin {
    font-size: 20px;
}

/* End Tentang*/

footer {
    font-size: 12px;
}

@media (max-width: 420px) {

    .navFlex {
        display: none;
    }

    .searchBar {
        margin-top: 3%;
    }

    .profileNav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

}