* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FFF;
}


/* Navbar */

.hubinLink {
    color: #5F4B4B;
    text-decoration: none;
}

.hubinLink:hover {
    color: #7b6161;
    text-decoration: underline;
}

.fa-arrow-left {
    color: #5F4B4B;
    margin-right: 5px;
}

.mainNav a, .mainNav a:hover {
    color: #5F4B4B;
}

.navContainer {
    height: 100vh;
}

.hubinBox {
    height: 33vh;
}

.secondBox {
    height: 33vh;
}

.fa-house, .fa-file-lines, .fa-check, .fa-gear, .fa-circle-info {
    margin-right: 12px;
}

.mainNav > .active{
    background-color: #5F4B4B;
    width: 250px;
    border-radius: 10px;
}

.profileNav {
    color: #FFF;
    background-color: #5F4B4B;
}

.unameNav {
    margin-left: 1%;
}

.containerProfile {
    padding: 15px 0 0 5px;
}

/* End Navbar */

/* Main */

.mainContainer {
    color: #5F4B4B;
}

.mainDivider {
    width: 35%;
}

.btn-main-login {
    background-color: #5F4B4B;
    color: #FFF;
    border-color: #5F4B4B;
}

.btn-main-login:hover {
    background-color: #7b6161;
    color: #FFF;
    border-color: #5F4B4B;
}

/* End Main */

/* Login Pop Up */

.logInForm {
    background-color: #FFF;
    color: #5F4B4B;
}

.illustrationForm {
    background-color: #5F4B4B;
}

.illustrationForm img {
    width: 470px;
}

.btn-login-form {
    background-color: #5F4B4B;
    color: #FFF;
    border-color: #5F4B4B;
}

.btn-login-form:hover {
    background-color: #7b6161;
    color: #FFF;
    border-color: #5F4B4B;
}

.bknSiswa {
    color: #5F4B4B;
    text-decoration: none;
}

.bknSiswa:hover {
    color: #5F4B4B;
    text-decoration: underline;
}

.formDivider {
    width: 20%;
    color: #5F4B4B;
}

/*.experienceHeader {
    color:#7b6161;
}*/

/* End Login Pop Up */

/* Option Box */

.ajukanBox, .pilihBox, .hubungiBox {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    color: #FFF;
}

.ajukanBox {
    background-image: linear-gradient(rgba(171, 113, 96, 1), rgba(95, 75, 75, 1));
}

.pilihBox {
    background-image: linear-gradient(rgba(216, 132, 107, 1), rgba(95, 75, 75, 1));
}

.hubungiBox {
    background-image: linear-gradient(rgba(231, 166, 120, 1), rgba(95, 75, 75, 1));
}

.fa-comments, .fa-building, .fa-headset {
    font-size: 50px;
}

/* End Option Box */

/* Form Ajukan Industri */

.btn-ajukan, .btn-reset:hover {
    background-color: #5F4B4B;
    color: #FFF;
    border-color: #5F4B4B;
}

.btn-ajukan:hover {
    background-color: #7b6161;
    color: #FFF;
    border-color: #5F4B4B;
}

.btn-reset {
    background-color: transparent;
    border-color:#5F4B4B;
    color: #5F4B4B;
}

textarea {
    resize: none;
}

/* End Form Ajukan Industri */

/* Form Data Pemetaan */

thead, td {
    color: #5F4B4B;
}

.btn-search, .btn-detail:hover {
    background-color: #5F4B4B;
    color: #FFF;
}

.btn-search:hover {
    background-color: #7b6161;
    color: #FFF;
}

.btn-detail {
    border-color: #5F4B4B;
    color: #5F4B4B;
}

.listJurusan {
    list-style: none;
}

.badge-ak {
    background-color: #EA6DC5;
}

.badge-tkj {
    background-color: #FF8311;
}

.badge-rpl {
    background-color: #7FE27C;
}

.btn-jurusan-dropdown {
    background-color: #5F4B4B;
    color: #FFF;
}

.btn-jurusan-dropdown:hover {
    background-color: #7b6161;
    color: #FFF;
}

.page-link, .page-link:hover {
    color: #5F4B4B;
}

footer {
    font-size: 12px;
}